.slideshow {
    background: #110101;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideshow .slider {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    z-index: 2;
    transition: transform 0.8s ease;
}

.slideshow .slider .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    transition: transform 1s ease-in-out;
}

.slideshow .slider .slide.left {
    left: 0;
}

.slideshow .slider .slide.right {
    right: 0;
}

.slideshow .slider .slide.active {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.slideshow .slider .slide.right.previous {
    transform: translateY(-150%);
    display: flex;
}

.slideshow .slider .slide.right.next {
    transform: translateY(50%);
    display: flex;
}

.slideshow .slider .slide.left.previous {
    transform: translateY(50%);
    display: flex;
}

.slideshow .slider .slide.left.next {
    transform: translateY(-150%);
    display: flex;
}

.slideshow .slider .item {
    height: 100vh;
    width: 50vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.slideshow .slider .item img {
    width: 200%;
    /* min-height: 100%; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slideshow .slider .left img {
    left: 0;
}

.slideshow .slider .right img {
    right: 0;
}


.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 64px;
    overflow: hidden;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 0.8;
}

.slideshow-text .item {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.8s ease-in-out;
}

.slideshow-text .item.active {
    transform: translateY(-50%);
    opacity: 1;
}

.slideshow-text .item.previous {
    transform: translateY(-150%);
    opacity: 0;
}

.slideshow-text .item.next {
    transform: translateY(50%);
    opacity: 0;
}

.dots {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 100;
    width: 50px;
    height: 50px;
}

.dot-line {
    border-top: solid 2px #fff;
    width: 60%;
    cursor: pointer;
    transition: width 0.8s ease;
}

.dot-line.active {
    width: 100%;
    transition: width 1s ease;
}

.up-btn, .down-btn {
    position: absolute;
    right: 16px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: #fff;
    opacity: 0.2;
    z-index: 100;
    cursor: pointer;
}

.up-btn:hover, .down-btn:hover {
    opacity: 1;
}

.up-btn {
    top: 16px;
}

.down-btn {
    bottom: 16px;
}

@media (max-width: 767px) {
    .slideshow-text {
        font-size: 40px;
        height: 32px;
    }

    .dots {
        height: 28px;
        width: 28px;
    }

    .dot-line {
        border-top: solid 1px #fff;
    }
}